html {
  height: 100%;
}

body {
  font-family: "Titillium Web", sans-serif;
  background-color: rgb(198, 211, 236);
}

.box {
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: white;
  padding: 1em;
  border-radius: 30px;
  max-width: 420px;
  margin: 1em;
  overflow: hidden;
  max-width: 800px;
  position: fixed;
  left: 25%;
  right: 25%;
}

.search-box,
.form-btn,
.celsius-btn,
.fahrenheit-btn {
  margin-top: 15px;
  padding: 6px;
  border: 0.7px solid #636363;
}

.search-box,
.form-btn {
  border-radius: 5px;
}

.search-box {
  width: 300px;
  margin-left: 15px;
}

.form-btn,
.celsius-btn,
.fahrenheit-btn {
  background: none;
  width: 40px;
}

.form-btn:hover {
  background: #f2f2f2;
}

.celsius-btn,
.fahrenheit-btn {
  border-radius: 10px;
}

.celsius-btn {
  margin-left: 23px;
  background: #f2f2f2;
}

h1 {
  padding: 15px 0 5px 20px;
  font-size: 34px;
}

.date-description {
  padding-left: 37px;
  font-size: 14px;
  text-transform: capitalize;
}

.icon {
  position: relative;
  bottom: 25px;
  left: 85px;
}

h2 {
  position: relative;
  right: 6px;
}

.current-temp {
  font-size: 45px;
}

.weather-unit {
  position: relative;
  left: 2px;
  bottom: 12px;
}

.weather-extra {
  font-size: 14px;
  position: relative;
  left: 360px;
  bottom: 25px;
}

li {
  list-style: none;
}

.col-2 {
  padding: 0 10px;
}

h6 {
  padding: 0;
  margin: 0;
}

.forecast-unit {
  font-size: 11px;
  position: relative;
  bottom: 2.5px;
}

.author a {
  color: #636363;
  text-decoration: underline;
}

.author a:hover {
  color: #000000;
}
