body {
  font-family: arial, sans-serif;
  background-color: rgb(198, 211, 236);
  min-height: 100vh;
}

h1 {
  color: #3051aa;
  font-size: 70px;
  font-weight: 100;
  line-height: 85px;
  -webkit-text-stroke: 1px rgb(198, 211, 236);
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  color: #f4c0ff;
  -webkit-text-stroke: 0.8px rgb(11, 14, 14);
  font-size: 22px;
  font-weight: bolder;
  height: 20px;
  line-height: 1;
  list-style: none;
}

.units {
  color: #3051aa;
  -webkit-text-stroke: 0.5px rgb(198, 211, 236);
  font-size: 35px;
  font-weight: bolder;
  height: 20px;
  line-height: 1;
  list-style: none;
}

.btn {
  border: none;
  color: rgb(255, 253, 253);
  width: 9em;
  height: 3em;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(
    90deg,
    rgb(66, 81, 212),
    rgb(90, 103, 212),
    rgb(70, 133, 214),
    rgb(66, 81, 212)
  );
  background-size: 300%;
  border-radius: 30px;
  text-transform: uppercase;
  z-index: 1;
}

.btn:hover {
  animation: animation 8s linear infinite;
  border: none;
}
@keyframes animation {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

button:before {
  content: "";
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(
    90deg,
    rgb(66, 81, 212),
    rgb(90, 103, 212),
    rgb(70, 133, 214),
    rgb(66, 81, 212)
  );
  background-size: 400%;
  border-radius: 35px;
  transition: 1s;
}
button:hover::before {
  filter: blur(20px);
}

.weather-app {
  border: none;
  max-width: 800px;
  position: fixed;
  top: 1%;
  padding: 30px;
  left: 20%;
  right: 20%;
}

.weather-icon {
  height: 64px;
  width: 64px;
  margin-right: 10px;
}

.temperature {
  color: #3051aa;
  font-size: 70px;
  font-weight: 100;
  line-height: 85px;
  -webkit-text-stroke: 1px rgb(198, 211, 236);
}

.units {
  position: relative;
  top: -34px;
}

.search-form {
  margin-bottom: 20px;
}
